
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#navbar{
    height: 70px;
    background-color: rgb(41, 35, 35);
    display: flex;width: 100vw;
}
#title{
    font: 24px 'Poppins';
    margin-left: 20px;
}
#title>h1{
    color: aliceblue;
}
#title>h1>span{
    color: orange;
}
#searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
#searchBox>input{
    font: 18px 'Poppins';
    text-align: center;
    padding: 3px;
    border-radius: 30px;
    display: block;
    width: 80%;
}
#home{
    height: 100vh;
    background-color: #090909;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 36px 'Poppins';
}
