*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    height: 80px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    font: 18px 'Poppins';
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid rgb(174, 170, 170);
    width: 60%;
}
#searchRes{
    width: max-content;
    padding: 10px;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
}
#searchRes>div{
    margin: 5px;
    font-size: 18px;
}