.head>h1{
    text-align: center;
    font-size: 48px;
}
.add-task{
    width: max-content;
    margin: auto;
}
.add-task>input{
    font-size: 24px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}
.add-task>button{
    font-size: 24px;
    padding: 5px;
    border-radius: 20px;
}
.taskItem{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gray;
    padding: 0 20px;
}
.taskItem>div>p{
    font-size: 24px;
}
.taskItem>div:first-child{
    width: 40%;
    border-right: 1px solid gray;
}
.taskItem>div:nth-child(2){
    display: flex;
    align-items: center;
}
.delDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    border-left: 1px solid gray ;
}
.delDiv>button{
    font-size: 18px;
    padding: 5px;
    border-radius: 20px;
    background-color: red;
    margin:5px;
}
.delDiv>p{
    margin-left: 50%;
    display: block;
    font-size: 24px;
    transform: translate(-50%, 0);
}
