*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font: 42px "Poppins";
    font-weight: bold;
}

body>img{
    width: 800px;
    height: 400px;
    display: block;margin: auto;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

div{
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    background-color: rgb(229, 128, 128);
}
body>div>img{
    height: 60px;
    width: 60px;
}