#main{
    margin: auto;
    width: max-content;
}
#main>h1{
    display: block;
    text-align: center;
}
button{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: tomato;
    border: none;
}
button:active{
    background-color: rgb(247, 30, 30);
}